PORT=3000
APP_URL=http://localhost:3000

PASSWORD=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=

INSTAGRAM_SESSION_ID=
INSTAGRAM_COOKIE=
INSTAGRAM_APP_ID=
INSTAGRAM_CSRF_TOKEN=

PROXY_URL=
PROXY_API_KEY=

CDC_KEY_CODE=
CDC_API_URL=

GEMINI_GATEWAY_URL=
GEMINI_API_KEY=
GEMINI_ORIGIN=